<% if !user_signed_in? %>
  <%= render 'splash' %>
<% else %>
  <% if current_user.has_role? :admin %>
    <h1> Welcome Admin </h1>
    <p> Proceed to the courses page to manage classes or to the users page to manage users </p>
    <p><%= link_to "Admin Dashboard", dashboard_admin_path %></p>
  <p>Note: You can manage a class with a blue name</p>
    
  <% elsif current_user.has_role? :instructor %>
    
    <h1> Welcome Instructor </h1>
    <p> Proceed to the courses page to manage your classes or the users page to manage users with access to your classes </p>
    <p>Note: You can manage a class with a blue name</p>

  <% elsif current_user.has_role? :user %>
    <h1> Welcome Student </h1>
    <p> If you are looking for courses you are currently enrolled in, go to the <%= link_to 'courses', courses_path %> page.
    Otherwise you can find a list of courses you can enroll in. </p>
  <% end %>

  <%= react_component("HomePage", props: { courses: @courses }, prerender: false) %>
  <div class="row">
  <div class="col-sm-6">
      <%# search the course list %>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Course Name</span>
        <input id="courses_search" type="text" class="form-control" placeholder="Search..." onkeyup="filter_list_by_keyword()">
      </div>

    <%# table containing the course list %>
    <table class="table table-sm" id="course_list">
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @courses.each do |course| %>
          <tr class="is_course_row">
            <td>
              <%= 
                if can? :mange, course
                  link_to "#{course.name}", course_path(course),class: "list-group-item justify-content-between list-group-item-info"
                elsif can? :read, course
                  link_to "#{course.name}", course_path(course),class: "list-group-item justify-content-between"
                else
                  course.name
                end
              %>
                
            </td>
              <%# otherwise they behave as a normal student, show student options. %>
            <% if course.roster_students.any? {|student| student.user_id == current_user.id and student.enrolled} %>
              <td>You have already joined the course: <%= link_to(course.course_organization, "https://github.com/" + course.course_organization)%> </td>
            <% else%>
              <td><%= link_to 'Join', course_join_path(:course_id => course.id), method: :post, class: 'btn btn-info btn-sm' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>

function filter_list_by_keyword() {
  var keyword = $("#courses_search").val().toLowerCase();
  console.log("search for: " + keyword);
  $("#course_list tr").each(function(element) {
    var text = $(this).text();
    if (text.toLowerCase().indexOf(keyword) === -1) {
      $(this).hide();
    } else {
      $(this).show();
    }
  });
}
</script>

<br>
  
<%end%>