<p>On this page, you can upload a CSV to automatically generate GitHub teams with members in them. The CSV should include
two columns: GitHub ID first, and the team to assign that GitHub user two in the second column. For example:</p>

<samp>
  bob13,Instructors<br>
  steve18,TAs<br>
  charlie24,Students<br>
  mary40,Instructors<br>
  steve18,Students<br>
</samp>

<p>will create 3 teams: Students, TAs, and Instructors.</p>
<p><b>NOTE:</b> GitHub usernames are case sensitive. This is a limitation of the GitHub API.</p>
<div class="panel panel-default">
  <div class="panel-body">
<%= form_tag generate_teams_course_org_teams_path, method: :post, multipart: true, class: "form-inline" do %>
  <%= file_field_tag :file %>
  <%= label_tag "Ignore first row" %>
  <%= check_box_tag :ignore_first_row%>
  <p></p>
  <%= submit_tag( "Upload" ) %>
<% end %>
  </div>
</div>