<%= react_component("CourseOrgTeamsIndex",
                        props: {current_path: request.env['PATH_INFO'],
                                can_edit: can?(:update, @course),
                                course_id: params[:course_id].to_i,
                                course: @parent
                        },
                        prerender: false)
%>



<div class="row">
  <div class="col-md-12">
    <table class="table" data-toggle="table" data-search="true">
      <thead>
        <tr>
          <th data-sortable="true" data-field="Team" data-filter-control="input">Team</th>
          <th data-sortable="true" data-field="Members">Members</th>
          <th data-sortable="true" data-field="Repositories">Repositories</th>
        </tr>
      </thead>
      <tbody>
      <% @teams.each do |team| %>
        <tr>
          <td><%= link_to team.name, team.url %></td>
          <td>
            <table class="table table-bordered">
              <thead>
                <th data-sortable="true" data-field="Student" data-filter-control="input">Student</th>
                <th data-sortable="true" data-field="GithubId" data-filter-control="input">GitHub ID</th>
                <th data-sortable="true" data-field="Role" data-filter-control="select">Role</th>
              </thead>
              <tbody class="students-list">
                <% role_url = team.url + "/members" %>
                <% team.student_team_memberships.each do |student| %>
                  <tr>
                    <td>
                      <div id="<%= student.roster_student.full_name %>" class="hidden-sort-div"></div>
                      <%= link_to student.roster_student.full_name, course_roster_student_path(@course, student.roster_student) %>
                    </td>
                    <td><%= link_to student.roster_student.user.username, "https://github.com/#{student.roster_student.user.username}" %></td>
                    <td>
                      <div id="<%= student.role %>" class="hidden-sort-div"></div>
                      <%= link_to student.role, role_url + "?query=" + student.roster_student.user.username %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </td>
          <td>
            <table class="table table-bordered">
              <thead>
              <th data-sortable="true" data-field="Student" data-filter-control="input">Name</th>
              <th data-sortable="true" data-field="Role" data-filter-control="select">Team Permission Level</th>
              </thead>
              <tbody class="students-list">
                <% access_url = team.url + "/repositories" %>
                <% team.repo_team_contributors.each do |repo| %>
                  <tr>
                    <td><%= link_to repo.github_repo.name, repo.github_repo.url %></td>
                    <td>
                      <div id="<%= repo.permission_level %>" class="hidden-sort-div"></div>
                      <%= link_to repo.permission_level, access_url + "?query=" + repo.github_repo.name %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>