<h1> Resource Dashboard </h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">API Rate Limits</div>
  </div>
  <div class="panel-body">

    <table class="table">
      <thead>
      <tr>
        <th>API</th>
        <th>Remaining</th>
        <th>Limit</th>
        <th>Time Until Reset</th>
        <th>Info</th>
      </tr>
      </thead>
      <tbody>
      <% rate_limits.each do |api_name, rate_limit_info| %>
        <tr>
          <td><%= api_name %></td>
          <td><%= rate_limit_info[:remaining] %></td>
          <td><%= rate_limit_info[:limit] %></td>
          <td><%= rate_limit_info[:until_reset] %></td>
          <td><%= rate_limit_info[:info] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>

<%= react_component("JobLauncher", prerender: false, props: {
    jobs_list: admin_job_info_list,
    run_url_prefix: "/admin/run_admin_job"
}) %>

<%= react_component("JobLog", prerender: false, props: {
    completed_jobs_list: CompletedJob.last_ten_jobs(nil,nil)
}) %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">Database Tables</div>
  </div>
  <div class="panel-body">

    <table class="table">
      <thead>
      <tr>
        <th>Table Name</th>
        <th>Rows</th>
      </tr>
      </thead>
      <tbody>
      <% table_row_pairs.each do |table_name, num_rows| %>
        <tr>
          <td><%= table_name %></td>
          <td><%= num_rows %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="btn-group pull-right">
      <%= link_to "Flipper Panel", "/admin/flipper", method: :get, class: "btn btn-danger" %>
    </div>
    <h4>Feature Toggles (Flipper)</h4>
  </div>
  <div class="panel-body">

    <table class="table">
      <thead>
      <tr>
        <th>Feature</th>
        <th>Enabled</th>
      </tr>
      </thead>
      <tbody>
      <% flipper_features.each do |f| %>
        <tr>
          <td><%= f[:name] %></td>
          <td><%= f[:enabled] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>