<h1>Users</h1>

<p>
  You can promote users to either admins or Instructors. If you promote a user to an Instructor, then that use will be able to create courses.
  NOTE: If you remove a user's instructor status, they will permanently lose access to all their courses.
</p>

Show only:
<div class="btn-group" role="group" aria-label="Show only">
  <%= link_to "All Users", users_path, class: "btn btn-secondary" %>
  <%= link_to "Instructors", users_path(type: "instructor"), class: "btn btn-secondary" %>
  <%= link_to "Administrators", users_path(type: "admin"), class: "btn btn-secondary"  %>
</div>
<p></p>
<%= form_tag users_path, method: :get do %>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">🔎</span>
    <%= text_field_tag :search, (params[:search] or ""), class: 'repo-search form-control', placeholder:
        "" %>
  </div>
  <p></p>
  <%= submit_tag "Search", class: 'btn btn-primary' %>
<% end %>
<p></p>

<div class="row">
  <div class="col-sm-12">
      <%# search the course list %>
<!--      <div class="input-group">-->
<!--        <span class="input-group-addon" id="basic-addon1">User Name</span>-->
<!--        <input id="users_search" type="text" class="form-control" placeholder="Search..." onkeyup="filter_list_by_keyword()">-->
<!--      </div>-->
    <%# table containing the course list %>
    <table class="bootstrap-table" data-toggle="table" id="course_list">
      <thead>
        <tr>
          <th data-sortable="true" data-field="Name">Name</th>
          <th data-sortable="true" data-field="Username">Username</th>
          <th data-sortable="true" data-field="Uid">uid</th>
          <th data-sortable="true" data-field="Admin">Admin Status</th>
          <th data-sortable="true" data-field="Instructor">Instructor Status</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.username %></td>
            <td><%= user.uid %></td>
              <td>
                <div id="<%= user.has_role? :admin%>" class="hidden-sort-div"></div>
                <%= form_for user do |f| %>
                  <%
                    if user.has_role? :admin
                      submit_text = "Remove Admin Status"
                    else
                      submit_text = "Make Admin"
                    end
                  %>

                  <%= f.submit "#{submit_text}" %>
                <% end %>
              </td>
              <td>
                <div id="<%= user.has_role? :instructor %>" class="hidden-sort-div"></div>
                <%= form_for user do |f| %>
                  <%
                    if user.has_role? :instructor
                      submit_text = "Remove Instructor Status"
                    else
                      submit_text = "Make Instructor"
                    end
                  %>

                  <%= f.submit "#{submit_text}" %>
                <% end %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div><%= page_entries_info @users %></div>
    <div><%= paginate @users, window: 5 %></div>
  </div>
</div>


<!--<script>-->
<!--function filter_list_by_keyword() {-->
<!--  var keyword = $("#users_search").val().toLowerCase();-->
<!--  console.log("search for: " + keyword);-->
<!--  $("#course_list tr").each(function(element) {-->
<!--    var text = $(this).text();-->
<!--    if (text.toLowerCase().indexOf(keyword) === -1) {-->
<!--      $(this).hide();-->
<!--    } else {-->
<!--      $(this).show();-->
<!--    }-->
<!--  });-->
<!--}-->
<!--</script>-->
