<h1>Users</h1>

<div class="row">
  <div class="col-sm-12">
      <%# search the course list %>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">User Name</span>
        <input id="users_search" type="text" class="form-control" placeholder="Search..." onkeyup="filter_list_by_keyword()">
      </div>
    <%# table containing the course list %>
    <table class="table table-sm" id="course_list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Admin</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= (user.has_role? :admin) ? "True" : "False" %></td>
              <td>
                <%= form_for user do |f| %>
                  <% 
                    if user.has_any_role? :admin 
                      submit_text = "Remove Admin"
                    else
                      submit_text = "Make Admin"
                    end
                  %>

                  <%= f.submit "#{submit_text}" %>
                <% end %>
              </td>
            <td><%= button_to "Manage Instructor Status" %></td>

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<script>
function filter_list_by_keyword() {
  var keyword = $("#users_search").val().toLowerCase();
  console.log("search for: " + keyword);
  $("#course_list tr").each(function(element) {
    var text = $(this).text();
    if (text.toLowerCase().indexOf(keyword) === -1) {
      $(this).hide();
    } else {
      $(this).show();
    }
  });
}
</script>
