<h1>Users</h1>

<p>
  You can promote users to either admins or Instructors. If you promote a user to an Instructor, then that use will be able to create courses.
  NOTE: If you remove a user's instructor status, they will permanently lose access to all their courses.
</p>

<p>
  Show only:
  <%= link_to "All Users", users_path %>
  <%= link_to "Instructors", users_path(type: "instructor") %>
  <%= link_to "Administrators", users_path(type: "admin")  %>
</p>
<div class="row">
  <div class="col-sm-12">
      <%# search the course list %>
<!--      <div class="input-group">-->
<!--        <span class="input-group-addon" id="basic-addon1">User Name</span>-->
<!--        <input id="users_search" type="text" class="form-control" placeholder="Search..." onkeyup="filter_list_by_keyword()">-->
<!--      </div>-->
    <%# table containing the course list %>
    <table class="bootstrap-table" data-toggle="table" data-search="true" data-show-export="true"
           data-pagination="true" data-show-columns="true"  data-show-columns-toggle-all="true"
           data-show-pagination-switch="true" id="course_list">
      <thead>
        <tr>
          <th data-sortable="true">Name</th>
          <th data-sortable="true">Username</th>
          <th>uid</th>
          <th data-sortable="true">Admin</th>
          <th></th>
          <th data-sortable="true">Instructor</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.username %></td>
            <td><%= user.uid %></td>
            <td><%= (user.has_role? :admin) ? "True" : "False" %></td>
              <td>
                <%= form_for user do |f| %>
                  <%
                    if user.has_role? :admin
                      submit_text = "Remove Admin Status"
                    else
                      submit_text = "Make Admin"
                    end
                  %>

                  <%= f.submit "#{submit_text}" %>
                <% end %>
              </td>
              <td><%= (user.has_role? :instructor) ? "True" : "False" %></td>
              <td>
                <%= form_for user do |f| %>
                  <%
                    if user.has_role? :instructor
                      submit_text = "Remove Instructor Status"
                    else
                      submit_text = "Make Instructor"
                    end
                  %>

                  <%= f.submit "#{submit_text}" %>
                <% end %>
              </td>
          </tr>
        <% end %>
      </tbody>
    </table>
<!--    <div><%#= page_entries_info @users %></div>-->
<!--    <div><%#= paginate @users, window: 5 %></div>-->
  </div>
</div>


<!--<script>-->
<!--function filter_list_by_keyword() {-->
<!--  var keyword = $("#users_search").val().toLowerCase();-->
<!--  console.log("search for: " + keyword);-->
<!--  $("#course_list tr").each(function(element) {-->
<!--    var text = $(this).text();-->
<!--    if (text.toLowerCase().indexOf(keyword) === -1) {-->
<!--      $(this).hide();-->
<!--    } else {-->
<!--      $(this).show();-->
<!--    }-->
<!--  });-->
<!--}-->
<!--</script>-->
