
<%= form_for([@parent,@roster_student]) do |form| %>
  <% if roster_student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(roster_student.errors.count, "error") %> prohibited this roster_student from being saved:</h2>

      <ul>
      <% roster_student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :perm %>
    <%= form.text_field :perm, id: :roster_student_perm %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :roster_student_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :roster_student_last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :roster_student_email %>
  </div>

  <div class="field">
    <%= form.label :section %>
    <%= form.text_field :section, id: :roster_student_section %>
  </div>

  <div class="field">
    <br>
    <%= form.radio_button :enrolled, 'true', checked: @roster_student.enrolled %>
    <%= label :enrolled_true, 'Enrolled' %>
    <br>
    <%= form.radio_button :enrolled, 'false', checked: (!@roster_student.enrolled) %>
    <%= label :enrolled_false, 'Not Enrolled' %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
