<h2><%= @roster_student.full_name %></h2>
<dl class="dl-horizontal">
  <dt>Student ID</dt>
  <dd> <%= @roster_student.perm %></dd>
  <p></p>

  <dt>First Name</dt>
  <dd><%= @roster_student.first_name %></dd>
  <p></p>

  <dt>Last Name</dt>
  <dd><%= @roster_student.last_name %></dd>
  <p></p>

  <dt>Email</dt>
  <dd><%= link_to @roster_student.email, "mailto:#{@roster_student.email}" %></dd>
  <p></p>

  <dt>Enrolled</dt>
  <dd><%= @roster_student.enrolled ? "True" : "False" %></dd>
  <p></p>

  <dt>Section</dt>
  <dd><%= @roster_student.section %></dd>
  <p></p>

  <dt>GitHub ID</dt>
  <% if @roster_student.username.present? %>
    <dd><%= link_to @roster_student.username, "https://github.com/#{@roster_student.username}", class: "js-github-id" %></dd>
  <% else %>
    <dd class="js-no-github-id">Unknown</dd>
  <% end %>
  <p></p>

  <dt>Slack ID</dt>
  <% if @roster_student.slack_user.present? %>
    <dd><%= link_to @roster_student.slack_user.display_name, @roster_student.slack_user.slack_url %></dd>
  <% else %>
    <dd>Unknown</dd>
  <% end %>

</dl>

<% unless @roster_student.user.nil? %>

  <% unless @roster_student.org_teams.empty? %>
  <p>
    <strong>Teams</strong>
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Student Role</th>
      </tr>
      </thead>
      <% @roster_student.student_team_memberships.each do |membership| %>
        <tr>
          <td><%= link_to membership.org_team.name, membership.org_team.url %></td>
          <td><%= membership.role %></td>
        </tr>
      <% end %>
    </table>
  </p>
  <% end %>

  <p class="repo-list-table">
    <% org_repos = find_org_repos %>
    <% unless org_repos.empty? %>
    <strong>Repositories</strong>
    <table class="table">
      <thead>
      <tr>
        <th>Repository (Student Name)</th>
        <th>GitHub ID</th>
        <th>Visibility (Permission Level)</th>
      </tr>
      </thead>
      <% org_repos.each do |repo| %>
        <tr>
          <td><a href=<%= repo.url %>><%= repo.name %></td>
          <td></td>
          <td><a href=<%= repo.url + "/settings" %>><%= repo.visibility %></td>
        </tr>
        <% repo.find_contributors.each do |contributor| %>
          <tr class="leftMargin">
            <td><%= link_to "#{contributor["first_name"]} #{contributor["last_name"]}",
                            course_roster_student_path(@parent, contributor["id"]) %></td>
            <td><a href="https://github.com/<%= contributor["username"] %>"><%= contributor["username"] %></td>
            <td><a href="<%= repo.url %>/settings/access"><%= contributor["permission_level"] %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <% end %>
  </p>

<% else %>
  <p class="no-repo-list-table"> </p>
<% end %>

<%= link_to 'Edit', edit_course_roster_student_path(@parent, @roster_student), :class => "btn btn-outline-secondary" %> |  
<%= link_to 'Back', course_path(@parent), :class => "btn btn-outline-secondary" %>
