<p id="notice"><%= notice %></p>

<p>
  <strong>Perm:</strong>
  <%= @roster_student.perm %>
</p>

<p>
  <strong>First name:</strong>
  <%= @roster_student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @roster_student.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <a href="mailto:<%= @roster_student.email %>"><%= @roster_student.email %> </a>
</p>

<p>
  <strong>Enrolled:</strong>
  <%= @roster_student.enrolled ? "True" : "False" %>
</p>

<% if @roster_student.username.nil? %>
<p>
  <strong>Github ID:</strong><span class="js-no-github-id"> Unknown</span>
</p>
<% else %>
<p>
  <strong>Github ID:</strong>
  <a class="js-github-id" href="https://github.com/<%= @roster_student.username %>"><%= @roster_student.username %></a>
</p>
<% end %>

<% unless @roster_student.username.nil? %>
<p class="repo-list-table">
  <strong>User Repositories:</strong>
  <table class="table">
    <thead>
    <tr>
      <th>Repository</th>
      <th>Other Contributors</th>
      <th>Last Modified</th>
    </tr>
    </thead>
    <% find_org_repos.each do |repo| %>
      <tr>
        <td><a href=<%= repo.url %>><%= repo.name %></td>
        <td><%= find_other_contributors(repo.name) %></td>
        <td><%= repo.updated_at %></td>
      </tr>
    <% end %>
  </table>
</p>

<% else %>
  <p class="no-repo-list-table"> </p>
<% end %>

<%= link_to 'Edit', edit_course_roster_student_path(@parent, @roster_student), :class => "btn btn-outline-secondary" %> |  
<%= link_to 'Back', course_path(@parent), :class => "btn btn-outline-secondary" %>
