<h1> <%= link_to @course.name, course_path(@course) %>
  <div class="btn-group" style="display: inline-block; float: right; margin-left: 10px;">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Manage Teams <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li> <%= link_to 'Create Teams from CSV', create_repos_course_teams_path%></li>
      <li> <%= link_to 'Create Team Repositories', create_repos_course_teams_path%> </li>
    </ul>
  </div>
</h1>
<p></p>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <% collapsed = "in" # slightly messy way to make only the first panel expanded on page load while allowing more than one to be expanded at a time %>
  <% @teams.each do |team| %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading<%= team.id %>">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" href="#collapse<%= team.id %>" aria-expanded="true" aria-controls="collapse<%= team.id %>">
            <%= team.name %>
          </a>
          <div class="pull-right"><%= link_to "View on GitHub", team.url %></div>
        </h4>
      </div>
      <div id="collapse<%= team.id %>" class="panel-collapse collapse <%= collapsed %>" role="tabpanel" aria-labelledby="heading<%= team.id %>">
        <% collapsed = "" # see above comment %>
        <div class="panel-body">
          <div class="panel panel-default">
            <div class="panel-heading">Members</div>
            <div class="panel-body">
              <table class="bootstrap-table" data-toggle="table" data-search="true"
                     data-pagination="true"
                     data-show-pagination-switch="true" data-filter-control="true">
                <thead>
                <tr>
                  <th data-sortable="true" data-field="Student" data-filter-control="input">Student</th>
                  <th data-sortable="true" data-field="GithubId" data-filter-control="input">GitHub ID</th>
                  <th data-sortable="true" data-field="Role" data-filter-control="select">Role</th>
                </tr>
                </thead>

                <tbody class="students-list">
                <% role_url = team.url + "/members" %>
                <% team.student_team_memberships.each do |student| %>
                  <tr>
                    <td><%= link_to student.roster_student.first_name + " " + student.roster_student.last_name, course_roster_student_path(@course, student.roster_student) %></td>
                    <td><%= link_to student.roster_student.user.username, "https://github.com/#{student.roster_student.user.username}" %></td>
                    <td><%= link_to student.role, role_url + "?query=" + student.roster_student.user.username %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Repositories</div>
            <div class="panel-body">
              <table class="bootstrap-table" data-toggle="table" data-search="true"
                     data-pagination="true"
                     data-show-pagination-switch="true" data-filter-control="true">
                <thead>
                <tr>
                  <th data-sortable="true" data-field="Student" data-filter-control="input">Name</th>
                  <th data-sortable="true" data-field="Role" data-filter-control="select">Team Permission Level</th>
                </tr>
                </thead>

                <tbody class="students-list">
                <% access_url = team.url + "/repositories" %>
                <% team.repo_team_contributors.each do |repo| %>
                  <tr>
                    <td><%= link_to repo.github_repo.name, repo.github_repo.url %></td>
                    <td><%= link_to repo.permission_level, access_url + "?query=" + repo.github_repo.name %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>