<% bot_scope = "calls:read,calls:write,channels:read,chat:write,commands,groups:read,groups:write,im:history,im:read,im:write,incoming-webhook,mpim:history,mpim:read,mpim:write,pins:write,reactions:read,reactions:write,team:read,usergroups:read,usergroups:write,users.profile:read,users:read,users:read.email,users:write" %>
<% user_scope = "identity.basic" %>
<% redirect_uri = callback_slack_auth_url %>
<% slack_oauth_link = "https://slack.com/oauth/v2/authorize?client_id=#{ENV['SLACK_CLIENT_ID']}&scope=#{bot_scope
}&user_scope=#{user_scope}&state=#{@course.id}&redirect_uri=#{redirect_uri}"%>

<% if @workspace.nil? %>
  <a href="<%= slack_oauth_link %>">
    <img alt="Add Slack Workspace to Course" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png"
         srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"></a>

<% else %>
  <% slack_workspace_url = "slack://open?team=#{@workspace.team_id}" %>
  <dl>
    <dt>Workspace Name</dt>
      <dd><%= link_to @workspace.name, slack_workspace_url %></dd>
    <p></p>
    <dt>Permission Scope</dt>
      <dd><%= @workspace.scope %></dd>
  </dl>

  <div class="btn-group" role="group">
  <%= link_to "Change Workspace", slack_oauth_link, class: "btn btn-secondary" %>
  <%= link_to "Remove Workspace", course_slack_path(@course), method: :delete, data: { confirm: "Are you sure you want
   to remove this workspace?" }, class: "btn btn-secondary" %>
  </div>

<% end %>