<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :course_name %>
  </div>

  <div class="field">
    <%= form.label :term %>
    <%= form.text_field :term, id: :course_name %>
  </div>

  <div class="field">
    <%= form.label :school %>
    <%= form.collection_select :school_id, School.order(:abbreviation), :id, :abbreviation, include_blank: true, id: :course_name %>
    <%= link_to 'New School', new_school_path, target: :_blank %>
  </div>

  <div class="field">
    <%= form.label :course_organization %>
    <%= form.text_field :course_organization, id: :course_name %>
  </div>

  <div class="field">
    <%= form.label :github_webhooks_enabled %>
    <%= form.check_box :github_webhooks_enabled, id: :course_github_webhooks_enabled %>
  </div>

  <div class="field">
    <%= form.label :hidden %>
    <%= form.check_box :hidden %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
