<p>You are
  <% if current_user.has_role? :admin %>
    an administrator
  <% elsif current_user.has_role? :ta, @course %>
    a TA
  <% elsif current_user.has_role? :instructor, @course %>
    an instructor
  <% end %> 
  of this course
</p>
<p>This course belongs to the github organization:
  <%= link_to(@course.course_organization, "https://github.com/" + @course.course_organization)%>
</p>

<%#= link_to "View Course Roster (#{@course.roster_students.length} enrolled)", course_roster_students_path(@course), class: "btn", role: "button" %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Course Roster</h3>
  </div>
  <div class="panel-body">
    <p>Upload a new roster:</p>

    <div style="margin-bottom: 20px" >

      <%= form_tag import_course_roster_students_path(@course), multipart: true, class: "form-inline", style: "display:inline-block;", id: "roster-upload-form" do %>

        <%= file_field_tag :file, class: "form-control" %>

        <input type="text" style="display: none;" id="csv-header-map-hidden-field" name="csv_header_map" >
        <input type="checkbox" style="display: none;" checked="false" id="csv-header-toggle-hidden-field" name="csv_header_toggle" >
        
      <% end %>
      <%= link_to "View Jobs", course_jobs_path(@course), method: :get, class: "btn",
                  style:
          "display:inline-block; float: right; margin-left: 10px;" %>
      <%= link_to "Download Roster as CSV", course_roster_students_path(@course, :format => "csv"), method: :get, class: "btn", style: "display:inline-block; float: right; margin-left: 10px;" %>
      <% if can? :create, RosterStudent %>
        <%= link_to 'New Student', new_course_roster_student_path(@course), class: "btn", style: "display: inline-block; float: right; margin-left: 10px;" %>
      <% end %>
      <% if can? :update_ta, @course %>
        <%= link_to "Manage TAs" , course_view_ta_path(@course), class: "btn", style: "display: inline-block; float: right; margin-left: 10px;"%>
      <% end %>
      <% if can? :update, @course %>
        <%= link_to 'Edit', edit_course_path(@course), class: 'btn'%>
      <% end %>

    </div>

    <h4>TAs:
      <% ta_count = 0 %>
      <% @course.roster_students.each do |student| %>
        <% if student.user.present? and student.user.has_role? :ta, @course %>
          <%= ", " unless ta_count == 0 %>
          <%= "#{student.first_name} #{student.last_name}" %>
          <% ta_count += 1 %>
        <% end %>
      <% end %>
      <% if ta_count == 0 %>
        None
      <% end %>
    </h4>

    <table class="table">
      <thead>
        <tr>
          <th>Perm</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Enrolled</th>
          <th>Github ID</th>
          <th>Org Membership</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody class="students-list">
        <% @course.roster_students.each do |student| %>
          <tr>
            <td><%= student.perm %></td>
            <td><%= student.first_name %></td>
            <td><%= student.last_name %></td>
            <td><%= student.email %></td>
            <td><%= student.enrolled ? "True" : "False" %></td>
            <% if !student.username.nil? and !student.username.empty? %>
              <td><a href="https://github.com/<%= student.username %>"><%= student.username %></td>
              <td><%= student.is_org_member %></td>
            <% else %>
              <td></td>
              <td></td>
            <% end %>
            <td><%= link_to 'Show', course_roster_student_path(@course, student) %></td>
            <td><%= link_to 'Edit', edit_course_roster_student_path(@course, student) %></td>
            <% if can? :destroy, student %>
              <td><%= link_to 'Remove', course_roster_student_path(@course, student), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>

<!-- upload modal -->
<!-- prep the data on the client side first -->
<div class="modal fade " id="upload-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Specify Column Headers</h4>
      </div>
      <div class="modal-body" style="overflow: auto; white-space: nowrap;">
        <p>
          <input type="checkbox" id="first-row-is-header" onchange="headerToggle(this)"> First column is a header
        </p>
        <table class="table">
          <thead>
            <!-- dyn populated by JS file for this controller -->
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <h4 id="csv-upload-error" class="hidden" style="width: 100%;text-align: center;float: left;margin-bottom: -20px;"><span class="label label-lg label-danger">ERROR: Please select { {First Name, Last Name } | Full Name, Perm, Email} </span></h4>
        <button type="button" class="btn btn-default" data-dismiss="modal" onClick="window.location.reload()">Close</button>
        <button type="button" class="btn btn-primary" onclick="uploadSubmit();">Upload</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
