<%# NOTE: if this page grows more complicated it may be a good idea to split it into two views
and render differently depending on whether or not the user is privlidged %>



<% if current_user.has_role? :admin or current_user.has_role? :instructor %>
  <h1>Course List</h1>
  <p>Welcome <%= rolename() %>. To manage your courses go to the home page and select the
  course you would like to manage from the list of courses you
  have access to. From this view you can create, edit, or delete
  your courses. </p>
    <p class="js-new-course">
    <%= link_to 'New Course', new_course_path, class: "btn btn-default ", role: "button" %>
    </p>
<% else %>
  <h1>Currently Enrolled Courses List</h1>
  <p> If you are looking to enroll in a course, head over to the <%= link_to 'home', root_url %> page.
    Otherwise you can find a list of courses you are enrolled in below. </p>
<% end %>

<div class="row">
  <div class="col-sm-6">
     <!--
      <%# search the course list %>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Course Name</span>
        <input id="courses_search" type="text" class="form-control" placeholder="Search..." onkeyup="filter_list_by_keyword()">
      </div>
      -->
    <%# table containing the course list %>
    <table class="table table-sm" id="course_list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Hidden</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @courses.each do |course| %>
          <% if can? :read, course or course.roster_students.any? {|student| student.user_id == current_user.id and student.enrolled} %>
            <tr>
              <td>
                <%=
                  if can? :read, course
                    link_to "#{course.name}", course_path(course)
                  else
                    course.name
                  end
                %>
              </td>
              <td>
                <%= course.hidden ? "Hidden" : "Visible" %>
              </td>
              <td>
                <% if can? :update, course %>
                  <%= link_to 'Edit', edit_course_path(course), class: 'btn btn-warning btn-sm'%>
                <% end %>
                <% if can? :delete, course %>
                  <%= link_to 'Delete', course_path(course), method: :delete, data: { confirm: "Are you sure you want to PERMANENTLY DELETE '#{course.name}'?"}, class: 'btn btn-danger btn-sm'%>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>

function filter_list_by_keyword() {
  var keyword = $("#courses_search").val().toLowerCase();
  console.log("search for: " + keyword);
  $("#course_list tr").each(function(element) {
    var text = $(this).text();
    if (text.toLowerCase().indexOf(keyword) === -1) {
      $(this).hide();
    } else {
      $(this).show();
    }
  });
}
</script>

<br>

