<h1> <%= link_to @course.name, course_path(@course) %> </h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Jobs</h3>
  </div>
  <div class="panel-body">

    <table class="table">
      <thead>
      <tr>
        <th>Job Name</th>
        <th>Last Run</th>
        <th colspan="1"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= TestJob.job_name %></td>
        <td><%= TestJob.last_run %></td>
        <td><%= link_to 'Run Job', course_test_job_path %></td>
      </tr>
      <tr>
        <td><%= StudentsOrgMembershipCheckJob.job_name %></td>
        <td><%= StudentsOrgMembershipCheckJob.last_run %></td>
        <td><%= link_to 'Run Job', course_update_org_membership_job_path %></td>
      </tr>
      <tr>
        <td><%= RefreshGithubReposJob.job_name %></td>
        <td><%= RefreshGithubReposJob.last_run %></td>
        <td><%= link_to 'Run Job', course_update_github_repos_job_path %></td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Completed Job Log</h3>
  </div>
  <div class="panel-body">

    <table class="table">
      <thead>
      <tr>
        <th>Job Name</th>
        <th>Date Triggered</th>
        <th>Summary</th>
      </tr>
      </thead>
      <tbody>
      <% CompletedJob.where(course_id: @course.id).reverse_order.limit(10).each do |completed_job| %>
        <tr>
          <td><%= completed_job.job_name %></td>
          <td><%= completed_job.created_at %></td>
          <td><%= completed_job.summary %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>