<% if current_user.can? :read, @course %>
  <%= render 'show_admin', course: Course.new %>
<% elsif current_user.can? :show, @course %>
  <%= render 'show_student', course: Course.new %>
<% end %>

<!-- 
<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
-->