<h1> <%= link_to @course.name, course_path(@course) %> </h1>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <% OrgTeam.where(course_id: @course.id).each do |team| %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading<%= team.id %>">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" href="#collapse<%= team.id %>" aria-expanded="true" aria-controls="collapse<%= team.id %>">
            <%= team.name %>
          </a>
        </h4>
      </div>
      <div id="collapse<%= team.id %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading<%= team.id %>">
        <div class="panel-body">
          <div class="panel panel-default">
            <div class="panel-heading">Members</div>
            <div class="panel-body">
              <table class="bootstrap-table" data-toggle="table" data-search="true"
                     data-pagination="true"
                     data-show-pagination-switch="true" data-filter-control="true">
                <thead>
                <tr>
                  <th data-sortable="true" data-field="Student" data-filter-control="input">Student</th>
                  <th data-sortable="true" data-field="GithubId" data-filter-control="input">GitHub ID</th>
                  <th data-sortable="true" data-field="Role" data-filter-control="select">Role</th>
                </tr>
                </thead>

                <tbody class="students-list">
                <% team.student_team_memberships.each do |student| %>
                  <tr>
                    <td><%= student.roster_student.first_name + " " + student.roster_student.last_name%></td>
                    <td><%= student.roster_student.user.username %></td>
                    <td><%= student.role %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">Repositories</div>
            <div class="panel-body">
              <table class="bootstrap-table" data-toggle="table" data-search="true"
                     data-pagination="true"
                     data-show-pagination-switch="true" data-filter-control="true">
                <thead>
                <tr>
                  <th data-sortable="true" data-field="Student" data-filter-control="input">Name</th>
                  <th data-sortable="true" data-field="Role" data-filter-control="select">Team Access</th>
                </tr>
                </thead>

                <tbody class="students-list">
                <% team.student_team_memberships.each do |student| %>
                  <tr>
                    <td><%= student.roster_student.first_name + " " + student.roster_student.last_name%></td>
                    <td><%= student.roster_student.user.username %></td>
                    <td><%= student.role %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>