<% if user_signed_in? %>
  <li class="dropdown user-nav">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      <%= github_profile_img_for current_user %>
      <span class="dropdown-caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li class="dropdown-header">Signed in as <b><%= current_user.username %></b></li>
      <li role="separator" class="divider"></li>
      <li><a href="https://github.com/<%= current_user.username %>">GitHub Profile</a></li>
      <li><a href="https://github.com/<%= @course %>">Course Organization</a></li>
      <li role="separator" class="divider"></li>
      <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
    </ul>
  </li>
<% else %>
  <li><p class="navbar-btn">
    <%= link_to user_github_omniauth_authorize_path, class: 'btn btn-info' do %>
      <%= fa_icon 'github', text: 'Sign in' %>
    <% end %>
  </p></li>
<% end %>
