<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : 'Project Anacapa' %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : 'Course Github Org Tool' %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'react-bundle' %>
  </head>
  <body class="<%= params[:controller].gsub('/', '-') %>-controller">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <%= render 'layouts/messages' %>
      <div class="container"> 
        <%# begin the container where the body content goes %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
